name: Django App

on:
  push:
    branches: [ dev, main]
  workflow_dispatch: 

jobs:

  version:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout
       uses: actions/checkout@v4

     - name: Extract Version 
       run: |
        VERSION=$(python3 -c "
        import re
        with open('pyproject.toml') as f:
            content = f.read()
        match = re.search(r'version\s*=\s*\"([^\"]+)\"', content)
        print(match.group(1))
        ")
        echo "VERSION=$VERSION" >> $GITHUB_ENV
        echo "version: \"$VERSION \"" > version.yaml
        ls -l

     - name: Debugging the version
       run: echo $VERSION

     - name: Upload Versoin artifact
       uses: actions/upload-artifact@v4
       with:
         name: version
         path: version.yaml


  build:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout
       uses: actions/checkout@v4

     - name: Install Poetry
       run: pip install poetry

     - name: Package Django app
       run: poetry build
       working-directory: .

     - name: Upload dist artifacts
       uses: actions/upload-artifact@v4
       with:
         name: django-dist
         path: book-shop/dist/*

  docker:
   runs-on: ubuntu-latest
   needs: build
   steps:
     - name: Checkout
       uses: actions/checkout@v4 

     - name: Download artifact
       uses: actions/download-artifact@v4
       with:
        name: django-dist
        path: dist

     - name: Config AWS credentials
       uses: aws-actions/configure-aws-credentials@v4
       with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}







     
